@import 'themes/_variables';

.navbar {
  border-bottom: 3px solid $border-light;

  .navbar-brand {
    img {
      vertical-align: unset;
    }
  }

  .navbar-nav {
    .dropdown-menu {
      position: absolute;
    }
  }
}
