@import 'themes/_variables';

.profile {
  max-width: 480px;

  .picture {
    height: 90px;
  }

  .user-details {
    .name {
      font-weight: 600;
    }

    .bio {
      color: $gray-600;
    }
  }

  .form-container {
    .message-sent {
      font-weight: 600;
      color: $success;
    }
  }

  .share {
    p {
      code {
        background-color: $light;
        border-radius: 12px;
      }
    }
  }
}
