// Colors
$primary: #feb74d;
$secondary: #36c2fe;
$success: #18cb9a;
$danger: #fa5968;
$light: #f7fafc;

// Grays
$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;
